<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nadav.altabet.nlb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".list_of_activities"></activity>
        <activity android:name=".acitivities_list" />
        <activity android:name=".register_to_activity" />
        <activity android:name=".activities_list" />
        <activity android:name=".guides_activities" />
        <activity android:name=".guides_hub" />
        <activity android:name=".add_guide" />
        <activity android:name=".coordinators_guides" />
        <activity android:name=".coordinators_hub" />
        <activity android:name=".workers_update" />
        <activity android:name=".add_worker" />
        <activity android:name=".admins_workers" />
        <activity android:name=".admins_hub" />
        <activity android:name=".children_update" />
        <activity android:name=".add_child" />
        <activity android:name=".parents_children" />
        <activity android:name=".parents_profile" />
        <activity android:name=".parents_update" />
        <activity android:name=".parents_hub" />
        <activity android:name=".register" />
        <activity android:name=".welcome_screen" />
        <activity android:name=".main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>